<p>
<h2>Remove user by email:</h2>
<form method="post" action="/deleteuser">
    Choose user
    <select name="email">
    #foreach( $user in $users )
        <option value="$user.email">$user.email</option>
    #end
    </select>
    <button>Submit</button>
</form>
</p>

<p>
<h2>Add user:</h2>
<form method="post" action="/adduser">
    Enter user
          Email: <input type="text" name="email"><br>
          Password: <input type="text" name="password"><br>
    <br>
    <button>Submit</button>
</form>
</p>

<p>
<h2>Add exam:</h2>
<form method="post" action="/addexam">
    Enter exam name: <input type="text" name="name"><br>
    <br>
    <button>Submit</button>
</form>
</p>

<p>
<form action="/logout" method="get">
  <button>Logout</button>
</form>
</p>

<p>
<form action="/" method="get">
  <button>Back</button>
</form>
</p>