<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/selectexam">
<table>
  #foreach( $exam in $exams )
  <button name="examId" value="$exam.id">$exam.name</button>
  #end
</table>
</form>

<p>
<form action="/logout" method="get">
  <button>Logout</button>
</form>
</p>

<p>
<form action="/" method="get">
  <button>Back</button>
</form>
</p>

</body>
</html>