<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script  src="http://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>
<body>

<form id="myForm1" action="/login" method="post">
    <input type="text" name="username" id="username" required>
    <input type="password" name="password" id="password" required>
    <input type="submit">
</form>

<script type="application/javascript">
    $("#myForm").submit(function (e) {
        var url = '/login';
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        $.ajax
        ({
            type: "POST",
            url: url,
            dataType: 'json',
            async: false,
            headers: {
                "Authorization": "Basic " + btoa(username + ":" + password)
            },
            data: '{ "comment" }',
            success: function (response){
                $(body).empty();
                $(body).html(response);
            }
        });
        e.preventDefault();
    });
</script>
</body>
</html>