<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

</table>
#foreach( $question in $questions )
<tr><td>$foreach.count. </td><td>$question.question</td></tr>

        #foreach( $answer in $answers )
             #if( $question.id == $answer.question_id)
                  <form id="$foreach.count">
                    <input type="hidden" name="questionid" value="$answer.question_id">
                    <input type="hidden" name="answerid" value="$answer.id">
                    <button id="b$answer.id">$answer.answer</button>
                   </form>
             #end
        #end

#end

<p>
<form action="/logout" method="get">
  <button>Logout</button>
</form>
</p>

<p>
<form action="/" method="get">
  <button>Back</button>
</form>
</p>

</body>
<script type="text/javascript">

$("button").click(function() {
    var url = "/answer"; // the script where you handle the form input.
    var $form = $(this).parents('form:first').serialize();
    $.ajax({
           type: "POST",
           url: url,
           data: $form, // serializes the form's elements.
           success: function(data)
           {
               //alert(data);  show response from the php script.
           }
         });
    document.getElementById(this.id).style.color = "green";
    return false; // avoid to execute the actual submit of the form.
});
</script>
</html>