server.port: "8089"
spring:
  main:
    banner-mode: "off"
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:~/ProductsMVCDB
    username: sa
    password: ""
  h2:
    console:
      enabled: "true"
      path: /h2
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: "true"
endpoints:
  mappings:
    sensitive: "false"
  env:
    sensitive: "false"

logging:
  level:
    org:
      springframework: ERROR