server:
  port: 8087
  servlet:
    context-path: /api

spring:
  main:
    banner-mode: "off"
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    platform: h2
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:test;MODE=PostgreSQL

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true



logging:
  level:
    org:
      springframework: ERROR